<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
<listeners>
  <listener class-name="utilities.ExtentReportUsingTestNG"></listener>
  </listeners>

  <test name="Booking test">

   <classes>
   <class name = "user1.BrowserTest"/>
   <class name = "user1.StaysPageTest"/>
     
    </classes>
  </test> <!-- Test -->
 
</suite> <!-- Suite -->